section.top {
    background: url(assets/images/bg2.jpg);
    height: 400px;
    background-size: cover;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

h1.center {
    text-align: center;
}

button.center {
    display: block;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

nav a {
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}

#learn-more-btn {
    border: 1px white;
}