a {
    text-decoration: none;
}

#top {
    background-color: black;
    height: 60px;
    padding: 30px 0px;
}

#top-wrapper {
    height: auto;
    width: 80%;
    margin: auto;
}

#logo-wrapper {
    display: inline-block;
    float: left;
}

#logo-wrapper h1{
    color: white;
    margin: 0px;
    font-size: 40px;
}

nav {
    display: inline-block;
    float: right;
    margin: 15px 0px;
}

nav a {
    color: white;
    font-size: 20px;
    margin: 0px 12px;
}