#banner {
  background-color: cyan;
  margin: 40px 0px 0px 0px;
  padding: 80px 0px;
  text-align: center;
}

#banner h1 {
  font-size: 50px;
}

#intro {
  text-align: center;
}

#intro p {
  font-size: 15px;
}

#side-menu {
  background-color: red;
}

#products {
}

.product-card {
  box-shadow: 0px 5px 1px #cccccc;
  margin: 30px 0px 0px 0px;
}

.product-image {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.product-info {
  background-color: #f0eee9;
}

.product-name {
  font-size: 20px;
  padding: 15px 0px 0px 15px;
}

.product-price {
  font-size: 25px;
  font-weight: bold;
  padding: 15px 0px 0px 15px;
}